<div class="box">
	<div class="row">
		<div class="span10 offset1">	
			<legend>全部分区报告</legend>
			<table class="table table-bordered table-striped">
				<tr>
					<th width="8%"><center>编号</center></th>
					<th width="40%"><center>分区名称</center></th>
					<th><center>报告列表</center></th>
				</tr>
				<% zones.each_with_index do |z,i|%>
				<tr>
					<td><center><%= i+ 1 %></center></td>
					<td><%= z.name %> </td>
					<td><%= link_to '全部报告',all_reports_zone_organizations_path(z) %></td>
				</tr>
				<% end %>
			</table>	 
		</div>
	</div>
</div>
<!--
<% zones.each do |z|%>
	<div class="box">
		<div class="row">
			<div class="span10 offset1">
				<legend><%= z.name %></legend>
				<table class="table table-bordered table-striped">
					<tr>
						<th colspan="5"><center><%= z.name %><center></th>
					</tr>
					<tr>
						<th width="25%">机构名</th>
						<th width="20%">联系人</th>
						<th width="25%">电话</th>
						<th>督察报告</th>
						<th>巡查报告</th>
					</tr>
					<% z.organizations.each do |o| %>
						<tr>
							<td><%=o.name%></td>
							<td><%=o.contact%></td>
							<td><%=o.phone%></td>
							<td><%=link_to o.get_all_supervisor_report.size,zone_supervisor_organization_reports_path(o) %>
							<td><%=link_to o.get_all_worker_report.size,worker_organization_reports_path(o,format: :html) %>
						</tr>		
					<% end %>
				</table>
			</div>
		</div>
	</div>
<% end %>
-->