<ul class="breadcrumb">
  <li><%= link_to "#{@organization.name}的巡查报告",checker_home_path(@organization.checker) %></li>
</ul>
<div class="box">
	<div class="row">
		<div class="span10 offset1">
			<legend><%= @organization.name %></legend>	
			<table class="table table-bordered table-striped">
				<thead>
					<th width="40%">机构名</th>
					<th width="20%">联系人</th>
					<th width="10%">电话</th>
					<th>已审核督察报告数</th>
					<th>巡查报告数</th>
				</thead>
				<tr>
						<td><%=@organization.name%></td>
						<td><%=@organization.contact%></td>
						<td><%=@organization.phone%></td>
						<td><%=link_to @organization.get_all_finished_supervisor_report.size,
										zone_supervisor_organization_reports_path(@organization) %>
						<td><%=link_to @organization.get_all_worker_report.size,
										worker_organization_reports_path(@organization,format: :html) %>
				</tr>		
			</table>
		</div>
	</div>
</div>