<!--
<ul class="breadcrumb">
  <li class="active">机构列表</li>
</ul>
-->

<%= render partial:'shared/reports_nav',locals:{zone:@zone,organization:@organization,report:@report} %>

<table class="table table-bordered table-striped">
	<tr>
		<th width="15%"><center>编号</center></th>
		<th width="35%"><center>分区名称</center></th>
		<th colspan="2"><center>报告列表</center></th>
	</tr>
	<% @zones.each_with_index do |z,i|%>
		<tr>
			<td><center><%= i+ 1 %></center></td>
			<td><%= z.name %> </td>
			<td><%= link_to '督察报告',supervisor_reports_zone_organizations_path(z,format: :mobile) %></td>
			<td><%= link_to '巡查报告',worker_reports_zone_organizations_path(z,format: :mobile) %></td>
		</tr>
	<% end %>
</table>
