<h1>巡查员登陆</h1>
 <%= form_for(:session, :url => worker_sessions_path) do |f| %>
  	<%= f.label :name,"账号",class:"control-label"%>
  	<%= f.text_field :name %>
  	<%= f.label :password ,"密码",class:"control-label"%>
  	<%= f.password_field :password %><br/>
 	<%= f.submit "登陆", :class => "btn btn-large btn-primary" %>
 <% end %>

