<% provide(:title, "ZoneAdmin登陆") %>
<h1>ZoneAdmin登陆</h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(:session, :url => zone_admin_sessions_path) do |f| %>

      <%= f.label :name,"账号" %>
      <%= f.text_field :name %>

      <%= f.label :password ,"密码"%>
      <%= f.password_field :password %>

      <%= f.submit "登陆", :class => "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>  
