<% provide(:title, @zone_admin_user.name) %> 
<%= render partial:'zone_admins/nav',locals:{action_name:@zone_admin_user.name} %>
<div class="box">
	<div class="row">
		<div class="span10 offset1">
			<legend>管理员详情</legend>
			<table class="table table-striped table-bordered">
				<tr>
					<th>账号</th>
					<td><%= @zone_admin_user.name %></td>
				</tr>
				<tr>
					<th>可创建摸板个数</th>
					<td><%= @zone_admin_user.template_max_num %></td>	
				</tr>
				<tr>
					<th>摸板视频个数</th>
					<td><%= @zone_admin_user.template_max_video_num%></td>
				</tr>
				<tr>
					<th>摸板图片个数</th>
					<td><%= @zone_admin_user.template_max_photo_num %></td>
				</tr>
				<tr>
					<th>单个检查点可拍摄视频个数</th>
					<td><%= @zone_admin_user.check_point_video_num %></td>
				</tr>
				<tr>
					<th>单个检查点可拍摄图像个数</th>
					<td><%= @zone_admin_user.check_point_photo_num%></td>
				</tr>
			    <tr>
			        <th>备注</th>
			        <td><%= @zone_admin_user.des  %></td>
			    <tr>
			</table>
		</div>
	</div>
</div>
