<h1>Admins#new</h1>
<%= form_for(@admin) do |f| %>
<%= render 'shared/error_messages' %>
<%= f.label :name, "账号" %>
<%= f.text_field :name %>
<%= f.label :password, "密码" %>
<%= f.password_field  :password %>
<%= f.label :password_confirmation,"密码确认" %>
<%= f.password_field  :password_confirmation %>
<%= f.label :des  ,"描述" %>
<%= f.text_field  :des   %>
<%= f.label :contact, "联系人" %>
<%= f.text_field  :contact  %>
<%= f.label :phone ,  "联系电话" %>
<%= f.text_field  :phone  %>
<%= f.submit "确定" %>
<% end %>

