<% provide(:title, "全部模板") %> 
<%= render partial:'templates/nav',locals:{action_name:'摸板列表'} %>
<p>
	<button class="btn"> <%= link_to '新增模板',new_zone_admin_template_path(@zone_admin) %></button>
</p>
<div class="box">
	<div class="row">
		<div class="span10 offset1">
			<legend>可用报告摸板</legend>
			<table class="table table-striped table-bordered">
				<thead>
					<tr>
						<th width="35%">摸板名称</th>
						<th width="10%">督察摸板</th>
						<th width="10%">巡查摸板</th>
						<th width="30%">创建时间</th>
						<th colspan="2">操作</th>
					</tr>
				</thead>
			<% @templates.each do |t| %>
			  <tr>
			      <td><%= link_to t.name,template_path(t) %></td>
			      <td><%= t.for_supervisor ? "是":"否"%></td>
			      <td><%= t.for_worker ? "是":"否"%></td>
			      <td><%= t.created_at %></td>
			      <td><%= link_to '编辑',edit_template_path(t) %></td>
			      <td><%= link_to '删除',template_path(t),method: :delete,confirm:"确定删除这个模板吗?" %></td>
			  </tr>
			<% end %>
			</table>
		</div>
	</div>
</div>
