<% provide(:title, "模板|"+@template.name) %> 
<%= render partial:'templates/nav',locals:{zone_admin:@zone_admin,action_name:@template.name} %>
<p>
  <button class="btn"><%= link_to '编辑',edit_template_path(@template) %></button>
  <button class="btn"><%= link_to '新增检查类型',new_template_check_category_path(@template) %></button>
</p>
<div class="box">
  <div class="row">
    <div class="span10 offset1">
      <legend>检查类别</legend>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th width="50%">模板名称</th>
            <th width="15%">检查类别个数</th>
            <th>创建时间</th>
          </tr>
        </thead>
        <tr>
            <td><%= link_to @template.name,template_check_categories_path(@template) %></td>
            <td><%= @template.check_categories.size() %></td>
            <td><%= I18n.localize(@template.created_at,format: :long) %></td>
        </tr>
      </table>
      <legend>检查项</legend>
      <ul>
         <% if @template.check_value %>
          <% if @template.check_value.boolean_name  and @template.check_value.boolean_name != "" %>
            <li><%= @template.check_value.boolean_name %></li>
          <% end%>
          <% if @template.check_value.int_name  and @template.check_value.int_name != "" %>
            <li><%= @template.check_value.int_name %></li>
          <% end %>
          <% if @template.check_value.float_name and @template.check_value.float_name != "" %>
            <li><%= @template.check_value.float_name %></li>
          <% end %>
          <% if @template.check_value.date_name and @template.check_value.date_name != "" %>
            <li><%= @template.check_value.date_name %></li>
          <% end %>
          <% if @template.check_value.has_text_name? %>
            <li><%= @template.check_value.text_name %>
          <% end %>
          <% if @template.check_value.has_text_with_photo_name? %>
            <li><%= @template.check_value.text_with_photo_name %>
          <% end %>
         <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="box">
  <div class="row">
    <div class="span10 offset1">
      <legend>全部检查类别</legend>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th width="50%">检查类别</th>
            <th width="30%">创建时间</th>
            <th colspan="2">操作</th>
          </tr>
        </thead>
      <% @template.check_categories.each do |c| %>
        <tr>
            <td><%= link_to c.category,check_category_path(c) %></td>
            <td><%= I18n.localize(c.created_at,format: :long) %></td>
            <td><%= link_to '编辑',edit_check_category_path(c) %></td>
            <td><%= link_to '删除',check_category_path(c),method: :delete,confirm:"确定删除这个检查类型，以及下属的检查点吗？" %></td>
        </tr>
      <% end %>
      </table>
    </div>
  </div>
</div>


