<div class="box">
<div class="templates">
<% @zone_admin.zones.each do |z| %>
	<div class=<%= "organization_chooser_for_zone_#{z.id}" %> >
		<%= select(:statistics,
		           :id,
		            z.organizations.map {|o| [o.name,o.id]}
		        ) %>
    </div>
<% end %>
</div>
<%= form_tag(statistics_organization_path(@zone_admin) ,method: :get) do %>
	<%= select(:statistics,
						 :zone_id,
						 @zone_admin.zones.map {|z| [z.name,z.id,{"data-organization_chooser"=>"organization_chooser_for_zone_#{z.id}"}]},
						 :selected => params[:statistics][:zone_id]
	          )%>
	<div class="organization_chooser">
	</div>
	<div class="scroll">
	<div class="scroll_checkboxes" >
		<% @zone_admin.templates.each do |t| %>
			<li>
		     <%= check_box_tag 'statistics[ids][]',t.id %>
			 <%= t.name %>
			</li>
		<% end %>
	</div>
	</div>
	<!--%= submit_tag '统计' ,class:"btn btn-primary"%-->	
<% end %>
<div>
