<%= render partial:'statistics/nav' %>
<div class="box">
	<div class="row">
		<div class="span10 offset1">
			<legend>查询条件</legend>
			<%= form_tag(statistics_path(@zone_admin),method: :get) do %>
				<label> 报告类型
					<%= collection_select(:statistics,:template_id,@zone_admin.templates,:id,:name,@template.nil? ? {}:{selected:@template.id}) %>
				</label>
				<label>开始日期
					<%= text_field(:statistics,:start_date,value:@start_date) %>
				</label>
				<label>结束日期
					<%= text_field(:statistics,:end_date,value:@end_date) %>
				</label>
				<%= submit_tag '查询' ,class:"btn btn-primary"%>	
			<% end %>
		</div>
	</div>
</div>

<% if not @report_statistics.nil? %>
<% if @template.for_worker? %>
	<p>
		<%= render partial:'statistics/report_statistics_detail',
		     locals:{
		     	chart_div:                "worker_report_chart_div", 
		     	report_type:              "巡检统计", 
		     	total_report_num:         @report_statistics.get_total_worker_report_num,
		     	total_check_points_num:   @report_statistics.get_total_check_points_num,
		     	total_org_has_report_num: @report_statistics.get_total_org_has_worker_report_num,
		     	report_num_according_to_success_percent_1:
		     	@report_statistics.get_worker_report_num_according_to_success_percent(1,0.9),
		     	report_num_according_to_success_percent_2:
		     	@report_statistics.get_worker_report_num_according_to_success_percent(0.9,0.8), 
		     	report_num_according_to_success_percent_3:
		     	@report_statistics.get_worker_report_num_according_to_success_percent(0.8,0.7),
		     	report_num_according_to_success_percent_4:
		     	@report_statistics.get_worker_report_num_according_to_success_percent(0.7,0) ,
		     	report_num_according_to_finished_percent_1:
		     	@report_statistics.get_worker_report_num_according_to_finished_percent(1,0.9),
		     	report_num_according_to_finished_percent_2:
		     	@report_statistics.get_worker_report_num_according_to_finished_percent(0.9,0.8),
		     	report_num_according_to_finished_percent_3:
		     	@report_statistics.get_worker_report_num_according_to_finished_percent(0.8,0.7),
		     	report_num_according_to_finished_percent_4:
		     	@report_statistics.get_worker_report_num_according_to_finished_percent(0.7,0),
		     } 
		%>
	</p>
<% end %>
<% if @template.for_supervisor? %>
<p>
	<%= render partial:'statistics/report_statistics_detail',
    	 locals:{
    	 	chart_div:                "supervisor_report_chart_div", 
    	 	report_type:              "督察统计", 
     		total_report_num:         @report_statistics.get_total_supervisor_report_num,
     		total_check_points_num:   @report_statistics.get_total_check_points_num,
     		total_org_has_report_num: @report_statistics.get_total_org_has_supervisor_report_num,
     		report_num_according_to_success_percent_1:@report_statistics.get_supervisor_report_num_according_to_success_percent(1,0.9),
     		report_num_according_to_success_percent_2:@report_statistics.get_supervisor_report_num_according_to_success_percent(0.9,0.8), 
     		report_num_according_to_success_percent_3:@report_statistics.get_supervisor_report_num_according_to_success_percent(0.8,0.7),
     		report_num_according_to_success_percent_4:@report_statistics.get_supervisor_report_num_according_to_success_percent(0.7,0) ,
     		report_num_according_to_finished_percent_1:@report_statistics.get_supervisor_report_num_according_to_finished_percent(1,0.9),
     		report_num_according_to_finished_percent_2:@report_statistics.get_supervisor_report_num_according_to_finished_percent(0.9,0.8),
     		report_num_according_to_finished_percent_3:@report_statistics.get_supervisor_report_num_according_to_finished_percent(0.8,0.7),
     		report_num_according_to_finished_percent_4:@report_statistics.get_supervisor_report_num_according_to_finished_percent(0.7,0),
     	} 
	%>
</p>
<% end %>
<% end %>