<% provide(:title, "全部检查点") %> 
<%= render partial:'check_points/nav',locals:{zone_admin:@zone_admin,template:@template,check_category:@category,action_name:'全部检查点'} %>
<p>
  <button class="btn"><%= link_to '新增检查点',new_check_category_check_point_path(@category) %></button>
</p>
<div class="box">
  <div class="row">
    <div class="span10 offset1">
      <legend>全部检查点</legend>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th width="45%">检查详情</th>
            <th width="15%">现场图像</th>
            <th width="25%">创建时间</th>
            <th colspan="2" width="15%">操作</th>
          </tr>
        </thead>
        <% @check_points.each_with_index do |cp,i| %>
          <tr>
              <td><%= @check_point_start_no + i + 1%>. <%= cp.content %></td>
              <% if cp.can_photo? %>
                <td>是</td>
              <% else %>
                <td> 否 </td>
              <% end %>
              <td><%= I18n.localize(cp.created_at,format: :long)%></td>
              <td><%= link_to '编辑',edit_check_point_path(cp) %></td>
              <td><%= link_to '删除',check_point_path(cp),method: :delete,confirm:"确定删除这个检查点以及相关的报告项吗？" %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>

