<div class="box">
	<!--
	<p><%= get_report_branch(@report) %></p>
	-->
	<ul class="nav nav-pills nav-stacked">
			<li class="nav-header">
				<i class="icon-th-list"></i>
    			功能导航	
  			</li>
		<% if signed_in? and current_user.session.site_admin? %>
			<% if controller_name == 'zone_admins'%>
				<li class="active">
			<% else %>
				<li>
			<% end %>
				<%= link_to 'zone管理员',zone_admins_path %>
			</li>
		<% end %>
		<% if signed_in? and current_user.session.zone_supervisor? %>
			<% if controller_name == 'main' %>
				<li class="active">
			<% else %>
				<li>
			<% end %>
				<%= link_to "分区报告列表",zone_supervisor_home_path %>
			</li>
		<% end %>
		<% if signed_in? and current_user.session.zone_admin? %>
			<% if controller_name == 'main' %>
				<li class="active">
			<% else %>
				<li>
			<% end %>
				<%= link_to "分区报告列表",zone_admin_home_path(current_user)%>
			</li>
			<% if controller_name == 'statistics' %>
				<li class="active">
			<% else %>
				<li>
			<% end %>
				<%= link_to '统计分析',statistics_organization_path(current_user) %>
			</li>
			<% if controller_name == 'zones' %>
				<li class="active">
			<% else %>
				<li>
			<% end %>
				<%= link_to '分区管理',zone_admin_zones_path(current_user) %>
			</li>
			<% if controller_name == 'locations' %>
				<li class ="active">
			<% else %>
				<li>
			<% end %>
				<%= link_to '位置管理',zone_admin_locations_path(current_user) %>
			</li>
			<% if controller_name == 'zone_supervisors' %>
				<li class="active">
			<% else %>
				<li>
			<% end %>
				<%= link_to '督察员',zone_admin_zone_supervisors_path(current_user) %>
			</li>
			<% if controller_name == 'workers' %>
				<li class="active">
			<% else %>
				<li>
			<% end %>
				<%= link_to '巡查员',zone_admin_workers_path(current_user) %>
			</li>
			<% if controller_name == 'templates' %>
				<li class= "active">
			<% else %>
				<li>
			<% end %>
				<%= link_to '模板', zone_admin_templates_path(current_user) %>
			</li>

		<% end %>
		<% if signed_in? and current_user.session.checker? %>
			<% if controller_name == 'main' %>
				<li class="active">
			<% else %>
				<li>
			<% end %>
			<%= link_to '机构报表' ,checker_home_path(current_user) %>
		<% end %>
		<% if signed_in? %>
			<% if controller_name == 'user_settings'%>
				<li class="active">
			<% else %>
				<li>
			<% end %>
				<%= link_to '设置',user_setting_path %>
			</li>
			<li>
				<%= link_to '退出',signout_path ,method: "delete"%>
			</li>
		<% end %>
	</ul>
</div>
