<ul class="breadcrumb">
	<% if controller_name == 'main' and (action_name == 'zone_admin_home' or action_name == 'zone_supervisor_home') %>
		<li class="active">分区报告列表</li>
	<% else %>
		<li>
			<% if current_user.session.zone_admin? %>
				<%= link_to '分区报告列表', zone_admin_home_path(current_user) %>
			<% else %>
				<%= link_to '分区报告列表', zone_supervisor_home_path %>
			<% end %>
			<span class="divider">/</span>
		</li>

		<% if controller_name == 'organizations' and action_name == 'all_reports' %>
			<%= zone.name + '的全部报告' %>
		<% else %>
			<li>
				<%= link_to zone.name + '的全部报告', all_reports_zone_organizations_path(zone) %>
				<span class="divider">/</span>
			</li>
			<% if controller_name == 'reports' and action_name == 'worker_report' %>
				<li class="active"><%= organization.name + '的巡查报告' %></li>
			<% elsif controller_name == 'reports' and action_name == 'supervisor_report' %>
				<li class="active"><%= organization.name + '的督察报告' %></li>
			<% else %>
				<li>
					<% if report.supervisor_report? %>
						<%= link_to organization.name + '的督察报告', zone_supervisor_organization_reports_path(organization) %>
					<% else %>
						<%= link_to organization.name + '的巡查报告', worker_organization_reports_path(organization) %>
					<% end %>
					<span class="divider">/</span>
				</li>
				<li class="active">报告详情</li>
			<% end %>
		<% end %>
	<% end %>
</ul>
