<div class="box">
  <div class="row">
    <div class="span10 offset1">
      <legend>修改密码</legend>
      <%= form_for(current_user,url:user_setting_update_path,html:{class:"form-horizontal"}) do |f| %>
        <%= render 'shared/error_messages' ,:object => f.object%>
        <fieldset>
          <div class="control-group"> 
            <%= f.label :password ,"密码",class:"control-label"%>
            <div class="controls">
              <%= f.password_field :password %>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :password_confirmation, "确认密码" ,class:"control-label"%>
            <div class="controls">
              <%= f.password_field :password_confirmation %>
            </div>
          </div>
          <div class="form-actions">
            <%= f.submit '保存', class: "btn btn-primary" %>
          </div>
        </fieldset>
      <% end %>
    </div>
  </div>
</div>