<p>
<%= link_to '返回',check_category_check_point_reports_report_path(@report_record.report_id,@report_record.check_category_id),class:"btn btn-success" %>
</p>
<%= form_for(@report_record,url:create_report_record_path(@report,@check_point)) do |f| %>
  <%= render 'shared/error_messages' ,:object => f.object%>
  <% if @report_record.check_point.can_photo? %>
  	<%= f.label :photo_path,"现场图像" %>
  	<%= f.file_field :photo_path %>
  <% end %>
  <% if @report.template.check_value.has_boolean_name? %>
    <%= f.label :boolean_value,@report.template.check_value.boolean_name %>
    <%= f.radio_button :boolean_value,"1",checked:@report_record.boolean_value%> 是</br>
    <%= f.radio_button :boolean_value,"0",checked:(not @report_record.boolean_value)%> 否</br>
  <% end %>
  <% if @report.template.check_value.has_date_name? %>
  	<%= f.label :date_value,@report.template.check_value.date_name %>
  	<%= f.date_select :date_value,include_blank:true,
  					use_month_names:['1月','2月','3月','4月','5月','6月','7月','8月','9月','10月','11月','12月'],
  					default:nil%>
  <% end %>
  <% if @report.template.check_value.has_int_name? %>
    <%= f.label :int_value,@report.template.check_value.int_name %>
    <%= f.text_field :int_value %>
  <% end %>
  <% if @report.template.check_value.has_float_name? %>
    <%= f.label :float_value,@report.template.check_value.float_name %>
    <%= f.text_field :float_value %>
  <% end %>
  <% if @report.template.check_value.has_text_name? %>
    <%= f.label :text_value,@report.template.check_value.text_name %>
    <%= f.text_field :text_value %>
  <% end %>
  <%= f.submit '新增' ,class:"btn btn-small" %> 
<% end %>