<script>
var video = document.getElementById('video');
video.addEventListener('click',function(){
  video.play();
},false);
</script>
<p>
<%= link_to '返回',check_category_check_point_reports_report_path(@report_record.report_id,@report_record.check_category_id),class:"btn btn-success" %>
</p>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th colspan="2"><center>检查详情</center></th>
    </tr>
  </thead>
  <tr>
    <td colspan="2">
      <%= @report_record.check_point.content %>
    </td>
  </tr>
  <% if @report_record.check_point.can_photo? %>
    <% nnn = 1 %>
    <% @report_record.media_infos.each do |p| %>
      <% if not p.nil? and not p.photo_path.to_s.blank? and p.checkpointPhoto? %>
        <tr>
          <td><%= nnn %></td>
          <td colspan="2"><img src="<%= p.photo_path.to_s %>"/></td>
        </tr>
      <% end %>
      <% if p.checkpointPhoto? %>
        <% nnn = nnn + 1 %>
      <% end %>
    <% end %>
  <% elsif @report_record.check_point.can_video? %>
    <% nnn = 1 %>
    <tr>
      <td colspan="2">视频</td>
    </tr>
    <% @report_record.media_infos.each do |v| %>
      <% if not v.nil? and not v.video_path.to_s.blank? and v.checkpointVideo? %>
        <tr>      
          <td><%= nnn%></td>
          <td>
            <a href="<%= v.video_path.to_s %>">视频</a>
          </td>
        </tr>
      <% end %>
    <% end %>
  <% end %>
  <% if @check_value.has_boolean_name? %>
    <tr>
      <td><%= @check_value.boolean_name%></td>
      <td><%= @report_record.get_boolean_value%></td>
    </tr>
  <% end %>
  <% if @check_value.has_date_name? %>
    <tr>
      <td><%= @check_value.date_name%></td>  
      <td><%= @report_record.get_date_value%></td>
    </tr>
  <% end %>
  <% if @check_value.has_int_name? %>
    <tr>
      <td><%= @check_value.int_name %></td>
      <td><%= @report_record.get_int_value%></td>
    </tr>
  <% end %>
  <% if @check_value.has_float_name? %>
    <tr>
      <td><%= @check_value.float_name%></td>
      <td><%= @report_record.get_float_value%></td>
    </tr>
  <% end %>
  <% if @check_value.has_text_name? %>
    <tr>
      <td><%= @check_value.text_name%></td>
      <td><%= @report_record.get_text_value%></td>
    </tr>
  <% end %>
  <% if @check_value.has_text_with_photo_name? %>
    <tr>
      <td><%= @check_value.text_with_photo_name%></td>
      <td><%= @report_record.get_text_with_photo_value%></td>
    </tr>
    <% if @report_record.check_point.can_photo? %>
      <% nnn = 1 %>
      <tr>
        <td colspan="2"><center><%= @check_value.text_with_photo_name%>图片</center></td>
      </tr>
      <% @report_record.media_infos.each do |p| %>
        <% if not p.nil? and not p.photo_path.to_s.blank? and p.textWithPhoto? %>
          <tr>
            <td><%= nnn %></td>
            <td><img src="<%= p.photo_path.to_s %>"/></td>
          </tr>
        <% end %>
        <% if p.textWithPhoto? %>
          <% nnn = nnn + 1 %>
        <% end %>
      <% end %>
    <% elsif @report_record.check_point.can_video? %>
      <% nnn = 1 %>
      <tr>
        <td colspan="2"><%= @check_value.text_with_photo_name%>视频</td>
      </tr>
      <% @report_record.media_infos.each do |v| %>
        <% if not v.nil? and not v.video_path.to_s.blank? and v.textWithVideo? %>
          <tr>
            <td><%= nnn %></td>
            <td><a href="<%= v.video_path.to_s %>">视频</a></td>
          </tr>
        <% end %>
        <% if v.textWithVideo? %>
          <% nnn = nnn + 1 %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

</table>
