<div class="box">
  <div class="row">
    <div class="span10 offset1">
      <%= form_for(zone,url:post_url,html:{class:"form-horizontal"}) do |f| %>
        <legend><%= legend_name %></legend>
        <fieldset>
          <%= render 'shared/error_messages' ,:object => f.object%>
          <div class="control-group">
            <%= f.label :name,"Zone名称" ,class:"control-label"%>
            <div class="controls">
              <%= f.text_field :name %>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :des,"备注信息" ,class:"control-label"%>
            <div class="controls">
              <%= f.text_area :des ,:rows => 3%>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="zone_supervisor_name">督察员账号</label>
              <% zone_admin.zone_supervisors.each do |supervisor| %>
                <div class="controls">
                  <%= check_box_tag "zone[zone_supervisor_ids][]", 
                    supervisor.id, zone.zone_supervisor_ids.include?(supervisor.id)%>
                  <%= supervisor.name%></label>
                </div>
              <% end %>
          </div>
          <div class="form-actions">
             <%= f.submit action_name ,class:"btn btn-primary"%>
          </div>
        </fieldset>
      <% end %>
    </div>
  </div>
</div>
