<% provide(:title, "Zone | "+@zone.name) %>

<%= link_to '新增机构',new_zone_organization_path(@zone) %>
<%= link_to '编辑',edit_zone_path(@zone) %>

<table>
    <tr>
      <th>名称</th>
      <td><%= link_to @zone.name,zone_organizations_path(@zone) %></td>
    </tr>
    <tr>
      <th>简介</th>
      <td><%= @zone.des %></td>
    </tr>
    <tr>
      <th>负责人</th>
      <td>
        <% @zone.zone_supervisors.each do |zs| %>
          <li><%= zs.name %></li>
        <% end %>
      </td>
    </tr>
</table>
