<% provide(:title, "全部检查类别") %> 
<%= render 'shared/home_left' %>
<table>
<%= link_to '新增检查类型',new_template_check_category_path(@template) %>
<% @categories.each do |c| %>
  <tr>
      <td><%= link_to c.category,check_category_path(c) %></td>
      <td><%= link_to '编辑',edit_check_category_path(c) %></td>
      <td><%= link_to '删除',check_category_path(c),method: :delete,confirm:"确定删除这个检查类型，以及下属的检查点吗？" %></td>
  </tr>
<% end %>
</table>
