<div class="box">
  <div class="row">
    <div class="span10 offset1">
      <legend><%= legend_name %></legend>
      <% if not new_reports_num.nil? %>
        <p>
          <span class="label label-info"> <%= new_reports_num %> 个报告等待审核</span>
        </p>
      <% end %>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th width="40%">报告类型</th>
            <th width="15%">完成率</th>
            <th width="15%">通过率</th>
            <th>报告状态</th>
          </tr>
        </thead>
      <% reports.each do |report| %>
        <tr>
            <td> <%= link_to report.template.name ,report_detail_report_path(report) %> </td>
            <% if report.template.get_check_ponits_num != 0 %>
              <td> <%= format("%.0f",report.get_finished_check_points_num/Float(report.template.get_check_ponits_num)*100) %>%</td>
            <% else %>
            <% end %>
            <!--td> <%= report.reporter_name%> </td-->
            <!--td> <%= I18n.localize(report.created_at,format: :long) %> </td-->
            <% if report.template.get_check_ponits_num != 0 %>
              <td> <%= format("%.0f",report.get_success_check_points_num/Float(report.template.get_check_ponits_num)*100) %>%</td> 
            <% else %>
              <td> 0 </td>
            <% end %>
            <td>
              <% if report.status_is_new? %>
                 <span class="label label-info">进行中</span>
              <% elsif report.status_is_finished? %>
                 <span class="label label-success">通过</span>
              <% else %>
                N/A
              <% end %>
            </td>
        </tr>
      <% end %>
      </table>
      <%= will_paginate reports ,class:"apple_pagination"%>
    </div>
  </div>

</div>
