<td>
  <%= check_point.content %>
  <% if not report_record.nil? and check_point.can_photo? %>
    <%= link_to(report_record.photo_path.to_s,id:"single_image") do %>
      <span class="label label-info">图</span>
    <% end %>
  <% end %> 

  <% if not report_record.nil? and check_point.can_video? %>
    <div id="single_video">
     <video width="480" height="360" controls preload style="display:none">
        <source src="<%= report_record.video_path.to_s %>" type="video/3gp">
      </video>
    </div>
    <a href="javascript();">
      <span id="video_content" class="label label-info">视频</span>
    </a>
  <% end %>
</td>
<% if check_value.has_boolean_name? %>
  <% if report_record.nil? %>
    <td>未完成</td>
  <% else %>
    <td><%=report_record.get_boolean_value%></td>
  <% end %>
<% else %>
  <td style="display:none">未设置</td>
<% end %>
<% if check_value.has_int_name? %>
  <% if report_record.nil? %>
    <td>未完成</td>
  <% else %>
    <td><%= report_record.get_int_value %></td>
  <% end %>
<% else %>
  <td style="display:none">未设置</td>
<% end %>
<% if check_value.has_float_name? %>
  <% if report_record.nil? %>
    <td>未完成</td>
  <% else %>
    <td><%= report_record.get_float_value %></td>
  <% end %>
<% else %>
  <td style="display:none">未设置</td>
<% end %>
<% if check_value.has_date_name? %>
  <% if report_record.nil? %>
    <td>未完成</td>
  <% else %>
    <td><%= report_record.get_date_value %></td>
  <% end %>
<% else %>
  <td style="display:none">未设置</td>
<% end %>
<% if check_value.has_text_name? %>
  <% if report_record.nil? %>
    <td>未完成</td>
  <% else %>
    <td><%= report_record.get_text_value %></td>
  <% end %>
<% else %>
  <td style="display:none">未设置</td>
<% end %>
