<table>
  <% @check_category.check_points.each do |cp| %>
    <tr>
        <td><%= cp.content %></td>
        <% if @report.check_point_is_done?(cp.id) %>
          <% if @report.status_is_new? %>
            <% if @report.committer == current_user %>
              <td><%= link_to '编辑', edit_report_record_path(@report.get_report_record_by_check_point_id(cp.id),format: :mobile) %></td>
            <% else %>
              <td> <%= link_to '查看',report_record_path(@report.get_report_record_by_check_point_id(cp.id),format: :mobile) %> <td>
            <% end %>
          <% end %>
          <% if @report.status_is_finished? %>
            <td> <%= link_to '查看',report_record_path(@report.get_report_record_by_check_point_id(cp.id),format: :mobile) %> <td>
          <% end %>
        <% else %>
          <% if @report.status_is_new? %>
            <% if @report.committer == current_user %>
              <td><%= link_to '新建',new_report_record_path(@report,cp,format: :mobile)%></td>
            <% else %>
              <td>未完成</td>
            <% end %>
          <% end %>
          <% if @report.status_is_finished? %>
            <td>未完成</td>
          <% end %>
        <% end %>
    </tr>
  <% end %>
</table>
