<!--
<%= render partial:'reports/nav',locals:{action_name:"报告详情",organization:@organization} %>
-->
<%= render partial:'shared/reports_nav',locals:{zone:@zone,organization:@organization,report:@report} %>

<% if @report.status_is_new? and @report.committer == current_user %>
<p>
<%= link_to '编辑',edit_report_path(@report,format: :mobile) ,class:"btn btn-primary"%>
<%= link_to '删除',report_path(@report,format: :mobile), method: :delete,confirm:"确定删除此报告吗?" ,class:"btn btn-danger"%>
</p>
<% end %>
<table class="table table-bordered table-striped">
  <tr>
    <th>名称</th>
    <td colspan="2"><%= @report.template.name%></td>
  </tr>
  <tr>
    <th>位置</th>
    <td colspan="2"><%= @report.location.nil? ? "--" : @report.location.name %></td>
  </tr>
  <tr>
    <th>账号</th>
    <td colspan="2"><%= @report.committer.name %> </td>
  </tr>
  <tr>
    <th>提交者</th>
    <td colspan="2"><%= @report.reporter_name%></td>
  </tr>
  <tr>
    <th>提交时间</th>
    <td colspan="2"><%= I18n.localize(@report.created_at,format: :long)%></td>
  </tr>
  <tr>
    <th> 检查类型</th>
    <th> 检查点个数</th>
    <th> 已完成个数</th>
  </tr>
  <% @report.template.check_categories.each do |cc| %>
    <tr>
      <td><%= link_to cc.category,check_category_check_point_reports_report_path(@report,cc,format: :mobile) %> </td>
      <td><%= cc.check_points.size %> </td>
      <td><%= @report.get_finished_check_points_num_by_check_category(cc.id) %></td>
    </tr>
  <% end %>
</table>
<!--table class="table table-bordered table-bordered">
    <tr>
      <td>检查类型</td>
      <td>检查点个数</td>
      <td>已完成个数</td>
    </tr>  
  <% @report.template.check_categories.each do |cc| %>
    <tr>
      <td><%= link_to cc.category,check_category_check_point_reports_report_path(@report,cc,format: :mobile) %> </td>
      <td><%= cc.check_points.size %> </td>
      <td><%= @report.get_finished_check_points_num_by_check_category(cc.id) %></td>
    </tr>
  <% end %>
</table-->
