<!DOCTYPE html>
<html>
<head>
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
  <title>维幄通达 | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application_mobile", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <ul class="nav">
          <li><a class="brand" href="#">“云”检</a></li>
          <li><%= link_to "首页", root_path(format: :mobile) %></li>
          <% if not signed_in? %>
            <li><%= link_to "关于", root_path(format: :mobile) %></li>
          <% else %>
            <% if current_user.session.worker? %>
              <li><%= link_to current_user.name,'#' %></li>
            <% else %>
              <li><%= link_to current_user.name,'#' %></li>
            <% end %>
          <% end %>
        </ul>
        <ul class="nav pull-right">              
          <% if signed_in? %>
            <li><%= link_to "退出",signout_path(format: :mobile) ,method: "delete" %></li>
          <% else %>
            <li><%= link_to "登陆", root_path(format: :mobile) %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </header>

  <div class="container">
    <% flash.each do |key,value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
    <%= yield %>
  </div>

    <%= debug(params) if Rails.env.development? %>

</body>
</html>
