<!DOCTYPE html>
<html>
<head>
  <%= render partial:'layouts/header'%>
</head>
<body>
  <%= render partial:'layouts/top_menu'%>
  <div class="Wrapper">
    <div class="sep20"></div>
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="span3">
            <%= render partial:'shared/home_left' %>
          </div>
          <div class="span9">
            <% flash.each do |key,value| %>
              <div class="alert alert-<%= key %>"><%= value %></div>
            <% end %>
            <%= yield %>
          </div>
        </div>
      </div>
  </div>
  <%= render 'layouts/footer' %>
  <!--%= debug(params) if Rails.env.development? %-->
</body>
</html>
