<% provide(:title, "添加督察员") %>
<%= render 'shared/home_left' %>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@zone_supervisor,url:zone_admin_zone_supervisors_path(@zone_admin)) do |f| %>
      <%= render 'shared/error_messages' ,:object => f.object%>
      <%= f.label :name,"督察员账号" %>
      <%= f.text_field :name %>

      <%= f.label :password ,"密码"%>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "确认密码" %>
      <%= f.password_field :password_confirmation %>

      <%= f.label :des,"备注" %>
      <%= f.text_field :des %>

      <%= f.submit "添加督察员", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>

